$theme-background-color: #1A2936;
$theme-bar-color: #22354A;
$theme-color: #00A2FC;
$logout-color: #E6E9EF;
$base-color: #00A2FC;
$common-line-color: #00000D;

$font-other-color: #8996A2;
$font-color: #DAE1E8;
$font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-size: 16px;
$font-size-title: 28px;

$index-level-first: 10;
$index-level-second: 9;
$index-level-third: 8;
