$theme-background-color: #1A2936;
$theme-bar-color: #22354A;
$theme-color: #2BBC8A;
$logout-color: #E6E9EF;
$hover-color: #0fbc52;
$common-line-color: #00000D;

$font-other-color: #8996A2;
$font-color: #dee5ec;
$font-title-color: #d6d8da;
$font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-size: 16px;
$font-size-title: 30px;

$index-level-first: 10;
$index-level-second: 9;
$index-level-third: 8;
