$base-color: #DD021C;
$font-color: #9DA5B4;
$theme-color: #5292DD;
$logout-color: #E6E9EF;
$font-size: 15px;
$font-size-title: 28px;
$index-level-first: 10;
$index-level-second: 9;
$index-level-third: 8;
