@import "../base/base";
@mixin flex-define($direction, $justify, $alignItems) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignItems;
}
@mixin cursor-hover-color() {
  cursor: pointer;
  &:hover {
    color: $theme-color;
    font-size: 14px;
  }
}
@mixin cursor-hover-background() {
  border-radius: 3px;
  background-color: #E5E9EF;
  cursor: pointer;
}
