@import "../base/base";
@mixin flex-define($direction, $justify, $alignItems) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignItems;
}
@mixin cursor-hover-color() {
  cursor: pointer;
  &:hover {
    color: $theme-color;
    font-size: 12px;
  }
}
@mixin cursor-hover-background() {
  border-radius: 3px;
  background-color: #E5E9EF;
  cursor: pointer;
}
@mixin keywords($color) {
  color: $color;
  font-size: 1em;
  font-weight: 600;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
